mixin postLink(post)
    <a href='#{node.posts.detailsRoute(post)}'> #{post.title} <small class="text-muted"> By #{post.author} </small></a>

mixin validationSummary(msg,item)
    if item.errors
        div(class='alert alert-danger')
            strong Error #{msg}
            hr
            ul
                each error in post.errors
                    li #{toTitleCase(error.param)} #{error.msg}