div(class="navbar navbar-inverse navbar-fixed-top")
    div.container
        div.navbar-header
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-tagert=".navbar-collapse")
            a.navbar-brand BlogR
        div(class="collapse navbar-collapse")
            ul(class='nav navbar-nav')
                li
                    a(href='#{node.posts.index}') Posts
                li
                    a(href='#{node.home.about}') About
                if user && user.roles.isAdmin
                    li
                        a(href='#{node.posts.create}') Create a Post
                if user
                    li
                        a(href='##{node.auth.logout}') Logout
                else
                    li
                        a(href='#{node.auth.login}') Login