extends index

block postContent
    h1=activePost.title
    h4
        | by #{activePost.author}
    small.muted #{fromNow(activePost.published)}
    hr
    a(href='#{node.posts.editRoute(activePost)}') Edit
    div.intro
        !{markDown(activePost.intro)}
    div.extended
        !{markDown(activePost.extended)}